body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e6b7ca;
    color: #e6b7ca;
    margin: 20px;
    text-align: center; /* Zentriert den Text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #fff8f8;
}

img {
    max-width: 25%; /* Begrenzt die Breite auf 25% des Bildschirms */
    max-height: 25vh; /* Begrenzt die Höhe auf 25% der Bildschirmhöhe */
}
