body {
    font-family: 'Helvetica Neue',sans-serif;
    background-color: #e6b7ca;
    color: #e6b7ca;
    margin: 20px;
    text-align: center; /* Zentriert den Text */
}

h1 {
    color: #fff8f8;
}
