/* Allgemeiner Stil für Desktop */
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 12px;
    background-color: #e6b7ca;
    color: #e6b7ca;
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #fff8f8;
}

img {
    max-width: 40%;
    max-height: 40vh;
}

/* Stile für Bildschirmgrößen kleiner als 600px (mobil) */
@media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 12px;
    }

    img {
        max-width: 60%;
        max-height: 60vh;
    }
}
