body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e6b7ca;
    color: #fff; /* Ändere die Textfarbe auf Weiß */
    margin: 20px;
    text-align: left; /* Ändere auf linksbündig */
}

h1 {
    color: #fff8f8;
}

img {
    max-width: 30%;
    display: block;
    margin: 0 auto;
}

.impressum-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #fff8f8;
    color: #7e3f59;
    text-decoration: none;
    border-radius: 5px;
}

/* Füge die folgende Regel hinzu, um den Text in den Abschnitten linksbündig zu machen */
p {
    text-align: left;
}
